config	ctlsocklan			# Control Socket File Name
	option	enabled		'1'	# Interface enabled=1/disabled=0
	option	interface	'br-lan'# Interface to be monitored
	option pcap_file	''	# Read & process pcap file & Exit
	option timeout1		''	  # # # # # # # # # # # # # # #
	option timeout2		''	  # Flow timeout override values
	option timeout3		''	  #  Valid  entries with Defaults:
	option timeout4		''	  # expint=60s	udp=300s
	option timeout5		''	  # tcp=3600s		tcp.rst=120s
	option timeout6		''	  # tcp.fin=300s	icmp=300s
	option timeout7		''	  # general=3600s	maxlife=604800s
	option timeout8		''	  # # # # # # # # # # # # # # #
	option max_flows	'8192'	# Maximum Flows to process
	option host_port	''	# Collector IP:Port
	option export_version	'9'	# NetFlow export version 1/5/9 supported
	option hoplimit		''	# Set ipv4 TTL or ipv6 hoplimit
	option tracking_level	'full'  # Full, proto, or ip
	option track_ipv6	'0'	# Track ipv6  enabled=1
	option sampling_rate	'100'	# Periodic Sample Rate
